<ion-content>
  <ion-list>
    <ion-item *ngFor="let produto of produtos" (click)="verDetalhes(produto.id)" class="produto-item">
      <ion-thumbnail slot="start">
  <img [src]="produto.image" alt="Imagem do produto" class="produto-img">
</ion-thumbnail>
      <ion-label>
        <h2 style="color: #86879a;">{{ produto.title }}</h2>
        <p>Categoria: {{ produto.category }}</p>
        <p style="font-size: 0.95em; color: #555;">{{ produto.description | slice:0:60 }}...</p>
        <span class="preco-produto">R$ {{ produto.price }}</span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>