// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #757692;
  --ion-color-primary-rgb: 78,84,200;
  --ion-color-secondary: #ffb347;
  --ion-color-secondary-rgb: 255,179,71;
  --ion-color-tertiary: #ff5e62;
  --ion-color-tertiary-rgb: 255,94,98;
}